{:deps {org.clojure/clojure {:mvn/version "1.9.0"}

        org.clojure/clojurescript
        ;;{:mvn/version "1.10.439"}
        {:git/url "https://github.com/mfikes/clojurescript" :sha "e48f5babd91276a1461d530d601e897032da81e4"}
        rum {:mvn/version "0.11.2" :exclusions [sablono/sablono]}

        com.bhauman/figwheel-main {:mvn/version "0.1.8"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}

 ;; setup some development paths
 :paths ["src" "resources" "test" "target"
         "vendor/hicada/src"]

 ;; clj -A:figwheel
 :aliases {:figwheel {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
